*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {

    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;  
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.loading {
    display: none;
    text-align: center;
    margin-top: 15px;
    color: #007bff;
    font-weight: bold;
}

.erro {
    color: red;
    text-align: center;
    margin-top: 15px;
}

.resultado {
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
